@page
@model azure_app_koye_VS.Pages.DeployementSlotsModel
@{
	ViewData["Title"] = "Deployement Slots";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment slots </h1>
    <h3>
		Validating the Deployment Slot feture of Azure App Service, which allows us to have multiple versions of our application running in parallel and swap them with zero downtime.
    </h3>
    <
</div>